[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.vsconfig
UpgradeLog.htm

.vs/
.idea/
.DS_Store
Thumbs.db

*.apk
*.aab
*.app
*.unitypackage